*{
    padding:0;
    margin:0;
    font-size:14px;
}
/*about中间主要部分*/
div{
    display: block;
}
#about-container{
    width:100%;
    overflow:hidden;
}
/*about主要导航*/
#about-nav{
    background:#fff;
    position:relative;
}
#about-innav{
    width: 1200px;
    height:58px;
    line-height:58px;
    margin:0 auto;
}
/*左边介绍导航*/
#about-innav>ul{
    list-style-type: none;
}
#about-innav>ul>li{
    float: left;
    margin-right:50px;
}
#about-innav>ul>li>a{
    text-decoration: none;
    color: #000000;
}
/*右边免费试用*/
#free{
    float:right;
    width:132px;
    height:58px;
    line-height:58px;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    background: #2597ba;
}
/*about主要信息部分*/
#about-info{
    background: #eeeeee;
    padding:56px 0 100px;
    border-top: 1px solid #yellow;
}
#about-info>div{
    line-height:25px;
    width:1200px;
    margin:0 auto;
}