/*about头部*/
#about-head{
    width:100%;
}
#about-headNav{
    width:100vw;
    height:60px;

}
#about-headNav>a>img{
    margin:5px 345px;
}
#about-headNav>ul{
    float: right;
    margin-right: 20vw;
    list-style-type: none;
    width:680px;
    height:60px;
}
#about-headNav>ul>li{
    float: left;
    line-height:60px;
    margin-right:50px;
}
#about-headNav>ul>li>a{
    text-decoration: none;
    color: #ffffff;
}
.about-headNavDrop{
    text-align: center;
}
