#wrapper{
    margin: 0 auto;
    font-family: "微软雅黑";
}
/*上面风控无人机切换部分*/
#index_function{
    width: 1200px;
    height: 688px;
    padding-top: 60px;
    margin: 0 auto;
    background-image: url("../img/first_images/bg1.png");
}
.index_title_icon,.index_icon_list{
    width: 1200px;
    height: 160px;
}
.index_icon_list{
    list-style: none;
    padding: 0;
}
.index_icon_list li{
    display: inline-block;
    margin-right: 61px;
    float: left;
    text-align: center;
    width: 168px;
    height: 155px;
}
.index_icon_list li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 155px;
    line-height: 251px;
    font-size: 18px;
    color: #959595;
}
.index_icon_list li a:hover{
    color: #1c9cd1;
    cursor: pointer;
}
/*每个图标悬停改变背景*/
.index_item1{
    background: url("../img/first_images/icon2-2.png") center top;
}
.index_item1:hover{
    background: url("../img/first_images/icon1.png") center top;
    cursor: pointer;
}
.index_item2{
    background: url("../img/first_images/icon3-3.png") center top;
}
.index_item2:hover{
    background: url("../img/first_images/icon2.png") center top;
    cursor: pointer;
}
.index_item3{
    background: url("../img/first_images/icon102.png") center top;
}
.index_item3:hover{
    background: url("../img/first_images/icon3.png") center top;
    cursor: pointer;
}
.index_item4{
    background: url("../img/first_images/icon5-5.png") center top;
}
.index_item4:hover{
    background: url("../img/first_images/icon4.png") center top;
    cursor: pointer;
}
.index_item5{
    background: url("../img/first_images/icon1-5.png") center top;
}
.index_item5:hover{
    background: url("../img/first_images/icon5.png") center top;
    cursor: pointer;
}
.index_item1,.index_item2,.index_item3,.index_item4,.index_item5,
.index_item1:hover,.index_item2:hover,.index_item3:hover,.index_item4:hover,.index_item5:hover
{
    background-repeat: no-repeat;
    cursor: pointer;
}
/*下方切换样式*/
.index_bd_img{
    float: left;
    width: 470px;
    margin-right: 45px;
    padding-top: 120px;
}
.index_bd{
    display: none;
}
.index_bd_show{
    display: block;
}
.index_bd_text {
    float: left;
    width: 632px;
    padding-top: 60px;
}
.index_bd_text h2{
    display: block;
    line-height: 45px;
    font-size: 36px;
    color: #2597ba;
    margin-bottom: 30px;
    font-weight:500;
}
.index_bd_text p{
    width: 100%;
    line-height: 35px;
    color: #535353;
    font-size: 18px;
    height: 245px;
    overflow: hidden
}
#index_function button{
    display: block;
    width: 187px;
    height: 47px;
    line-height: 47px;
    background: #edab00;
    text-align: center;
    margin-bottom: 27px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}
/*案例轮播样式。*/
#index_example{
    width: 100%;
    height: 610px;
    margin: 0 auto;
    background: #f0eff4;
    padding: 65px 0 80px 0;
}
.index_example_box{
    width: 1200px;
    height: 610px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.index_example_title{
    font-size: 36px;
    color: #1c9cd1;
    height: 50px;
}
.index_example_info{
    font-size:23px;
    color: #333;
}
#index_example_change{
    width: 1200px;
    height: 462px;
    position: relative;

}
/*三个案例总体的div*/
#index_example_pic{
    position: absolute;
    width: 3600px;
    height: 462px;
}
.index_example_A,.index_example_B,.index_example_C{
    width: 1200px;
    height: 462px;
    float: left;
}
.index_example_A{
    background-image: url("../img/first_images/018.jpg");
}
.index_example_B{
    background-image: url("../img/first_images/019.jpg");
}
.index_example_C{
    background-image: url("../img/first_images/020.jpg");
}
/*装文字的div*/
.index_example_thing{
    width: 380px;
    height: 300px;
    text-align: left;
    margin: 100px 0 0 100px;
    z-index: 20;
}
.index_example_item{
   font-size: 25px;
    color: #fff;
    margin: 30px 0;
}
.index_example_detail{
    font-size: 21px;
    color: #fff;
}
.index_example_check button{
    width: 200px;
    height: 60px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    background: none;
    margin-top: 30px;
}
.index_example_check a{
    text-decoration: none;

}
.index_example_check button:hover{
    background: orange;
    cursor: pointer;
}
/*下面跳转的圆圈按钮*/
#index_example_buttons{

    z-index: 10;
    position: absolute;
    bottom: 80px;
    left: 600px;
}
#index_example_buttons span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    border-radius: 50%;
    border:1px solid #faf5f5;

}
.on{
    background: #f6f1f9;
}
.index_example_arrow{
    text-decoration: none;
    position: absolute;
    top: 160px;
    z-index: 10;
    display: none;
    font-size: 100px;
    line-height: 100px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
}
#index_example_change:hover .index_example_arrow{
    display: block;
    cursor: pointer;

}
#index_example_prev {
    left: 0;
}
#index_example_next {
    left:  1140px;
}
/*人物介绍介绍开始*/
#index_person{
    width: 100%;
    height: 430px;
    padding: 60px 0 45px 0;
    background-image: url("../img/first_images/bg22.jpg");
    background-repeat: no-repeat;

}
.index_person_list{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    height: 220px;

}
.index_person_dec{
    display: inline-block;
    margin: 0 56px;
    text-align: center;
    width: 119px;
    height: 220px;
}
.index_person_dec span{
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.index_person_dec:hover span{
    color: orange;
    cursor: pointer;
}
.index_person_dec img{
    border:2px solid transparent ;
    border-radius: 50%;
}
.index_person_dec:hover img{
    border:2px solid orange ;
    border-radius: 50%;
}
.index_person_detail{
    color: orange;
    text-align: center;
    display: none;
}
.index_person_show{
    display: block;
}
/*最新动态部分*/
#index_latest{
    width: 1200px;
    height: 351px;
    margin: 0 auto;
    padding-bottom:105px ;
}
.index_latest_left{
    width: 796px;
    height: 198px;
    float: left;
}
.index_latest_title{
    list-style: none;
    padding:0;
    width: 796px;
    height: 21px;
}
.index_latest_dec{
    display: inline-block;
    float: left;
    margin-right: 37px;
    font-size: 16px;
    cursor: pointer;
    height: 21px;
}
.index_latest_dec:hover,.index_latest_right p:hover {
    color: #1c9cd1;
    cursor: pointer;
}
.index_latest_detail{
    list-style: none;
    padding:0;
    display: none;
}
.index_latest_detail_show{
    display: block;
}
.index_latest_detail li{
    display: inline-block;
    width: 380px;
    height: 49px;
    line-height: 48px;
    font-size: 14px;
}
.index_latest_detail li a{
    color: #58606d;
    text-decoration: none;
}
.index_latest_detail li a:hover{
    color: #1c9cd1;
    cursor: pointer;
}
/*最新动态右边图片*/
.index_latest_right{
    width: 375px;
    height: 215px;
    float: left;
}
.index_latest_img{
    width: 375px;
    height: 160px;
    overflow: hidden;
}
.index_latest_img img{
    width: 375px;
    height: 160px;
}
.index_latest_img img:hover{
    width: 110%;
    height: 110%;
    transition:all .8s ease-in-out;
}
/*很多logo部分　*/
#index_somelogo{
    width: 100%;
    height: 250px;
    padding: 60px 0 86px 0;
    background: #ebebeb;
}
#index_somelogo p,.index_latest_bigtitle{
    font-size: 36px;
    color: #2597ba;
    line-height: 60px;
    text-align: center;
}

.index_somelogo_list{
    list-style: none;
    padding: 0;
    width: 1200px;
    height: 144px;
    margin: 0 auto;
}
.index_somelogo_list li{
    width: 105px;
    height: 45px;
    float: left;
    margin-right: 18px;
    margin-bottom: 30px;
}
.index_somelogo_list li a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #434242;
}
.index_somelogo_list li img:hover{
    border: 2px solid #2397BC;
    cursor: pointer;
}

