/*右边固定列表的样式*/
#new_active_fixed{
    width: 62px;
    height: 196px;
    position: absolute;
    right: 0;
    top:300px;
}
.new_active_item{
    list-style: none;
    padding: 0;
}
.new_active_item li{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #309CBE;
    margin: 1px 0;
}
.new_active_item li img{
    vertical-align: middle;
}
/*主体部分的样式*/
#new_active_content{
    margin:0 auto;
    width: 1150px;
    font-family: 微软雅黑;
}
/*主体部分的左边栏*/
#new_active_left{
    width: 300px;
    float: left;
}
/*左边栏的三个菜单*/
.new_active_nav{
    list-style: none;
    background: #EEEEEE;
    padding:0;
}
/*列表和推荐阅读和联系我们标题共同的样式*/
.new_active_nav li a,.new_active_info .new_active_title{
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #58606d;
    text-indent: 10px;
}
.new_active_nav li{
    border-bottom: 1px solid #E5e5e5;
    text-indent: 10px;
}
.new_active_nav li a{
    text-decoration: none;
}
.new_active_info .new_active_title{
    border: 1px solid #E5e5e5;
    background: #EEEEEE;
    margin: 40px 0 15px 0;
}

/*左边的推荐阅读和联系*/

.new_active_read{
    list-style: none;
    padding:0;
}
.new_active_read li{
    text-indent: 10px;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
}
.new_active_read li a{
    text-decoration: none;
    color:#616976;
}
.new_active_read li a:hover,.new_active_nav li a:hover,.new_active_detail a:hover{
    color: #1c9cd1;
}
/*右边图文混排样式*/
#new_active_right{
    width: 840px;
    float: left;
    margin-left:10px ;
}
.new_active_news{
    border-bottom: 1px solid #F0F0F0;
    margin: 6px 0 30px 0;
}
.new_active_news img{
    margin: 10px 0;
}
/*.new_active_news img:hover{*/
    /*width:843px;*/
    /*height: 263px;*/
/*}*/
.new_active_heading{
    margin: 13px 0;
    font-size: 17px;
    color:#474D57;
}
.new_active_detail{
    font-size: 12px;
    color: #626262;
    line-height: 22px;
}
.new_active_detail a{
    text-decoration: none;
    color: #626262;
    font-size: 12px;
}
/*换页栏样式*/
.new_active_change{
    margin-left:350px;
    width: 575px;
}
.new_active_list{
    list-style: none;
    padding: 0;
}
.new_active_list li{
    display: inline;
    margin: 0 5px;
    padding: 5px;
}
.new_active_list li a{
    font-size: 14px;
    text-decoration: none;
    color: #626262;
}
.new_active_list li:hover{
    background: #2397BC;
}
