*{
    margin: 0;
    padding: 0;
    outline: none;
}
#production_content{
    width: 100vw;
    height:4000px;
    /*overflow: hidden;*/
}

/*导航栏*/
nav{
    width: 1200px;
    height: 60px;
    border: 1px solid orange;
    position: fixed;
    left: 5vw;
    color: white;
}
nav ul{
    list-style: none;
    float: right;
    width: 680px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 14px;

}
nav ul li{
    float: left;
    margin-left: 50px;
}
/*导航栏结束*/

/*页面导航*/

#pro_pagenav{
    margin: auto;
    width: 1200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

#pro_pagenav ul li{
    font-size: 14px;
    float: left;
    width: 125px;
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
}
#pro_pagenav li:hover{
    color: #2597BA;
}
#pro_pagenav button{;
    width:135px ;
    height: 60px;
    float: right;
    font-size: 16px;
    color: white;
    background-color: #2597BA;
    border: 1px solid #2597BA;
}
/*页面导航结束*/

/*无人机*/
#pro_UAV{
    height: 605px;
    background-color: #F2F2F2;
}
.pro_detailsgray{
    width: 1200px;
    height: 605px;
    margin: auto;
}
.pro_detailsGrayLeft,.pro_detailsWhiteRight{
    width: 600px;
    height: 605px;
    float: left;
}
.pro_detailsGrayLeft img{
    margin-top: 80px;
}
#production_content .pro_button{
    width: 190px;
    height: 50px;
    margin:40px 135px ;
    background-color: orange;
    border: 1px solid orange;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#production_content .pro_button:hover{
    background-color: orangered;
}
.pro_detailsGrayRight,.pro_detailsWhiteLeft{
    width: 600px;
    height: 605px;
    float: left;
    color: dimgray;
    line-height: 30px;
    font-size: 14px;
}
.pro_detailsGrayRight span,#pro_CALleft span,.pro_detailsWhiteLeft span{
    display: block;
}
 .pro_title{
    margin-top: 60px;
    font-size: 24px;
     font-weight: bold;
    color: #2597BA;
}
 /*无人机结束*/

 /*信贷管理系统*/
#pro_creditAndLoan{
    margin:auto;
    width: 1200px;
    height:480px ;
}
#pro_CALleft{
    width:700px;
    height: 480px;
    line-height: 30px;
    float: left;
    color: dimgray;
    font-size: 14px;
}
#pro_CALleft dl{
    width:200px ;
    height: 130px;
    float: left;
    border: 1px solid #2597BB;
    text-align: center;
    padding-top: 25px;
    margin:30px 27px 0 0;
    color: #2597BB;
}
#pro_CALright{
    width: 450px;
    height: 450px;
    padding-top: 30px;
    float: right;
}
/*信贷结束*/

/*产品详情轮播*/
#pro_carouse{
    height: 500px;
    background-color: #2597BB;
}
#pro_carouseDetails{
    width: 1200px;
    height: 500px;
    margin: auto;
    border: 1px solid transparent;
    overflow: hidden;
}
#pro_carouselist{
    width: 3700px;
    height: 300px;
    position: relative;
    top: 100px;
}
#pro_carouseArrow{
    width: 1200px;
    height: 80px;
    position: relative;
    top:180px;
    font-weight: bold;
}
#pro_carouseArrow span{
    font-size: 70px;
    display: block;
    color: white;
    cursor: pointer;
}
#pro_PrevPic{
    float: left;
}
#pro_NextPic{
    float: right;
}
.pro_carouseText{
    width: 540px;
    height: 300px;
    float: left;
    margin: -80px 50px 0 0;
    line-height:1.5;
    font-size:14px;
    color: white;
}
.pro_carouseTitle{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 80px;
}
/*轮播结束*/

/*大数据征信*/
#pro_bigData{
    height: 605px;
    background-color: #F2F2F2;
}
/*结束*/

/*银行对接*/
#pro_bankDock{
    width: 1200px;
    height: 605px;
    margin: auto;
}
.pro_detailsWhiteRight img{
    margin:100px 0 0 150px;
}
.pro_whitebutton{
    width: 190px;
    height: 50px;
    margin:40px 210px ;
    background-color: orange;
    border: 1px solid orange;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
/*结束*/

#pro_consult{
    height: 605px;
    background-color: #F2F2F2;
}

#production_content .pro_whitebutton:hover{
    background-color: orangered;
}

























